<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title></title>

</head>

<body>
    <div id="root"></div>

    <script>
        // 2.子组件 
        const
            Child1 = {
                props: ["content"],
                template: `
                    <div v-bind="$attrs">{{content}}</div>
                 `,
                mounted() {

                    console.log(this.$attrs);
                    console.log(this.$attrs.msg1);
                }
            }


        // 1.父组件
        const app = Vue.createApp({
            components: {
                Child1,

            },
            // 1.2 传递数据
            template: `
                <child1 content="$attrs属性在方法等处使用" style="color:red;" msg1="hello" msg2="world"></child1>
            `,
        })
        const vm = app.mount('#root')
    </script>
</body>