<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title></title>

</head>

<body>
    <div id="root"></div>

    <script>
        // 1.声明变量：子组件 
        const
            ChildComp = {
                // 4.子组件使用该值
                template: `
                    <div>我是子组件--{{transfer}}--{{content}}</div>
                `,
                // 3.子组件接收该值
                props: ['transfer', 'content']
            }
        const app = Vue.createApp({
            components: {
                ChildComp: ChildComp
            },
            // 2.使用子组件并传值
            template: `
                <child-comp transfer="父传子值1" content="父传子值2"></child-comp>
            `,
        })
        const vm = app.mount('#root')
    </script>
</body>