<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title></title>

</head>

<body>
    <div id="root"></div>

    <script>
        // 2.子组件 
        const
            ChildComp = {
                // 2.2 使用数据
                template: `
                    <div>string：{{str}}</div>
                    <div>number：{{num}}</div>
                    <div>array：{{arr}}--{{arr[0]}}--{{arr[1]}}--{{arr[2]}}--{{arr[2]['a']}}</div>
                    <div>object：{{obj}}--{{obj['m']}}--{{obj.s}}</div>
                `,
                // 2.1 接收数据
                props: ['str', 'num', 'arr', 'obj']
            }

        // 1.父组件
        const app = Vue.createApp({
            components: {
                ChildComp: ChildComp,
            },
            // 1.1 定义数据
            data() {
                return {
                    params: {
                        str: '字符串',
                        num: 123,
                        arr: ['arr', 123, {
                            a: 1,
                            b: 's'
                        }],
                        obj: {
                            m: 1,
                            s: 'obj'
                        }
                    }
                }
            },
            // 1.2 传递数据
            template: `
                <child-comp v-bind="params"></child-comp>
            `,
        })
        const vm = app.mount('#root')
    </script>
</body>