<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title></title>

</head>

<body>
    <div id="root"></div>

    <script>
        // 1.子组件 
        const
            Child = {
                //1.1、接收父值
                props: ['count'],
                //1.2、使用父值
                //1.3、绑定事件
                template: `
                    <div>{{count}}</div>
                    <button @click="handleClick">增加</button>
                 `,
                //1.4、执行事件，并向父组件发送方法
                methods: {
                    handleClick() {
                        this.$emit('add')
                    }
                }
            }


        // 2.父组件
        const app = Vue.createApp({
            components: {
                Child
            },
            // emits: ['add'],
            //2.1、定义数据
            data() {
                return {
                    num: 0
                }
            },
            //2.4、执行事件，改变数据
            methods: {
                handleAdd() {
                    this.num += 1
                }
            },
            //2.2、定义数据
            //2.3、接收方法，绑定事件
            template: `<child :count="num" @add="handleAdd"></child>`,
        })
        const vm = app.mount('#root')
    </script>
</body>