<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title></title>

</head>

<body>
    <div id="root"></div>

    <script>
        // 1.子组件 
        const
            Child = {
                props: ['add'],
                template: `
                    <div @click="handleClick">{{add}}</div>
                 `,
                methods: {
                    handleClick() {
                        // this.$emit('update:modelValue', 3)
                        this.$emit('update:add', this.add + 2)
                    }
                }
            }


        // 2.父组件
        const app = Vue.createApp({
            components: {
                Child
            },
            // emits: ['add'],
            data() {
                return {
                    num: 0
                }
            },
            methods: {
                handleAdd(num1) {
                    this.num += num1
                }
            },
            template: `
            <child v-model:add="num"></child>
            `,
        })
        const vm = app.mount('#root')
    </script>
</body>