<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title></title>

</head>

<body>
    <div id="root"></div>

    <script>
        //1、父组件
        const app = Vue.createApp({
            //1.1、定义数据
            data() {
                return {
                    params: {
                        a: 123,
                        b: 456,
                        c: 789
                    }
                }
            },
            //1.2、发送数据
            template: `
                <child :data-a="params.a" :data-b="params.b" :c="params.c"></child>
            `,
        })
        //2、子组件
        app.component('child', {
            //2.1、接收父值
            props: ['data-a', 'dataB', 'c'],
            //2.2、使用父值
            template: `
                <div>{{data-a}}</div>
                <div>{{dataB}}</div>
                <div>{{c}}</div>
            `,
        })
        const vm = app.mount('#root')
    </script>
</body>