<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title></title>

</head>

<body>
    <div id="root"></div>

    <script>
        //1、父组件：
        const app = Vue.createApp({
            data() {
                return {
                    text: "我的按钮"
                }
            },
            //插槽内容
            template: `
                <child>
                    <input type="submit" :value="text">
                </child>
                <hr/>
                <child>
                    <div>{{text}}</div>
                </child>
            `,
        })
        //2、子组件：
        app.component('child', {
            //插槽结构
            template: `
                <form>
                    <input type="text">
                    <slot></slot>
                </form>
            `,

        })
        const vm = app.mount('#root')
    </script>
</body>