<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title></title>

</head>

<body>
    <div id="root"></div>

    <script>
        //1、父组件：
        //v-slot="{items}"对象解构赋值
        const app = Vue.createApp({
            //插槽内容
            template: `
                <list v-slot="{items,idx}">
                    <p>{{items}}--{{idx}}</p>
                </list>
            `,
        })
        //2、子组件：
        app.component('list', {
            data() {
                return {
                    list: [1, 2, 3, 4, 5, 6]
                }
            },
            // 插槽结构
            //<slot v-for="item in list" :item="item"></slot> 也可以
            template: `
                <div>
                    <slot v-for="(item,index) in list" :items="item" :idx="index"/>
                </div>
            `,
        })
        const vm = app.mount('#root')
    </script>
</body>